/* zrt-cssregistry: */

@media all { 

  
/* image rotator */

.imagerotator-container {
  float: left;
  position: relative;
  overflow: hidden;
}
.imagerotator-container .banners,
.imagerotator-container .banners .banner-item {        
  width: 984px;
  height: 302px;
  overflow: hidden;
  position: relative;
}
.imagerotator-container .banners .banner-item,
.imagerotator-container .banners .item-text,
.imagerotator-container .banners .item-image {
  top: 0;
  left: 0;
  position: absolute;
}
.imagerotator-container .banner-item {
  z-index: 68;
}

.imagerotator-container .banner-item.first {
  z-index: 78;
}

.imagerotator-container .banner-item.first .item-text {
  z-index: 79;
}

.imagerotator-container .item-text {
  z-index: 69;
}
.imagerotator-container .banners .item-text {
  display: block;
  height: 177px;
  width: 230px;
  float: left;
  padding: 40px 40px 84px 714px;
}
.imagerotator-container .banners .item-text div {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  height: 97px;
  width: 190px;
  padding: 30px 20px 45px 20px;
  background: #597891;
   filter: alpha(Opacity=70);
   -moz-opacity: 0.7; 
   -khtml-opacity: 0.7;
    opacity: 0.7;
}
.imagerotator-container .thumbs {
  display: none;
  height: 47px;
  width: 980px;
  padding-top: 6px;
  background: transparent url(images/bg-white-1x1.png) repeat left top;
  bottom: 0;
  position: absolute;
  z-index: 80;
}
.imagerotator-container .thumbs a {
  display: block;
  float: left;
  margin: 0 5px;
  height: 41px;
  width: 50px;
}
.imagerotator-container .thumbs a img {
  background: transparent;
  filter: alpha(Opacity=50);
  -moz-opacity: 0.5; 
  -khtml-opacity: 0.5; 
   opacity: 0.5; 
}
.imagerotator-container .thumbs a.active img, 
.imagerotator-container .thumbs a:hover img {
  background: transparent;
  filter: alpha(Opacity=100);
  -moz-opacity: 1.0; 
  -khtml-opacity: 1.0; 
   opacity: 1.0; 
}

.imagerotator-container .buttons ul li:hover {
  background: transparent;
}
/*.imagerotator-container .buttons ul li:hover .buttons-block {
  display: block;
}
.imagerotator-container .buttons ul li:hover .buttons-item {
  display: none;
}*/
.imagerotator-container .buttons ul li .buttons-item,
.imagerotator-container .buttons li .buttons-block { 
  background: url(images/bg-white-1x1.png) repeat left top transparent;
}

.imagerotator-container .buttons ul li { 
  display: block; 
  float: left;
  height: 47px; 
  width: 240px; 
  margin-right: 5px; 
}

.imagerotator-container .buttons ul li .buttons-item {
  display: block; 
  float: left;
  height: 47px; 
  width: 240px; 
  margin-right: 5px; 
  text-align: center;
  padding-top: 15px;
}

.imagerotator-container .buttons {
  bottom: 0;
  height: 47px;
  position: absolute;
  width: 980px;
  z-index: 80;
}
.imagerotator-container .buttons-block span,
.imagerotator-container .buttons ul li .buttons-item {
  font-size: 20px;
  color: #454545;
  text-transform: uppercase;
}
.imagerotator-container .buttons li .buttons-block {
  position: absolute;
  bottom: 0;
  /*display: none;*/
  text-align: left;
  padding: 5px 5px 15px 5px;
  width: 230px;
  font-size: 12px;
}
.imagerotator-container .buttons-block span {
  border-bottom: 1px solid #454545;
  display: block;
  width: 170px;
  padding: 15px;
  margin: 0 15px;
}
.imagerotator-container .buttons-block p {
  padding: 15px 30px;
  margin: 0;
}
.imagerotator-container .buttons-block a {
  padding: 15px 30px;
  color: #454545;
}
}
